* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Lobster, sans-serif;
}

html {
    font-size: 62.5%; /* defaulf font size is now 10px */
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 100rem;
    height: 70rem;
    background-color: #eee;
    border-radius: 3rem;
    box-shadow:  0 2rem 6rem rgba(0,0,0,0.3);
    position: relative;
}

.red-bg {
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, #8B0000, #B22222);
    position: absolute;
    top: 0;
    left: 0;
}

.red-bg button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 16rem;
    height: 5rem;
    background-color: transparent;
    border: 0.1rem solid white;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    cursor: pointer;

}